<h1>Posts </h1>
<p><%= link_to 'New post', new_post_path %></p>

<table>
    <thead>
        <th>Titre</th>
        <th>Description</th>
        <th>Image</th>

    </thead>

    <% @posts.each do |post|%>
    <tbody>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.description %></td>
            <td><%= post.image %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Show', post_path(post) %></td>
            <td><%= link_to 'Delet', post_path(post), method: :delete %></td>
        </tr>
    <% end %>

    </tbody>
</table>
    <p><%= link_to 'Home',root_path%></p>
